# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\College\Independant Programming\discordbot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
